[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER
[core]
        excludesfile = ~/.gitignore_global
[alias]
        co = checkout
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
